<!--To-do:
1. See if the div elements can be replaced with something more meaningful
2. Add backend capibilities including checking if the email feild contains a-Z@a-Z.a-Z
3. Add a login button -->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign In | The Lazy Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/lazy-reset.css">
        <link rel="stylesheet" href="../css/signup.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="left-side">
        <img src="../CatInTree.svg" alt="lazy-logo"/>
        <h2>Welcome to The Lazy Project</h2>
        </div>
        <div id="right-side">
            <header>
                <h1>Sign In</h1>
                <form action="/sign-in" method="post">
                    <div class="form-item">
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="POST-email" required>
                    </div>
                    <div class="form-item">
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="POST-password" required>
                    </div>
                    <div class="form-item">
                        <input type="submit" value="Signin">
                    </div>
                </form>
            </header>
        </div>
        <script src="" async defer></script>
    </body>
</html>