<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Lazy Project</title>
</head>
<body>
    <h1>Welcome to <strong>The Lazy Project</strong> home page!</h1><br>
    <a href="/">index</a><br>
</body>
</html>
